.eventsContainer {
  display: block;
  .header-bars {
    display: flex;
    justify-content: flex-end;
    
  }

  .topBarsContainer {
    z-index: 1000;
    position: absolute;

    display: flex;

    right: 1rem;
    margin-top: 2rem;
    gap: 2rem;
  }
}
