.modal {
  position: absolute;
  z-index: 1100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  .closeButton {
    position: absolute;
    z-index: 1500;

    cursor: pointer;
    width: 5rem;
    height: 5rem;
    bottom: 8rem;
    right: 1rem;
    
    border: 0;
    padding: 0.2rem;

    justify-content: flex-end;
    align-items: center;

    background: #648997;
    border-radius: 50%;

    svg {
      color: var(--primary-color);
      width: 2.5rem;
      height: auto;
    }

    ::placeholder {
      outline: 0;
    }
  }
}
