.modal {
  position: absolute;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  .closeButton {
    position: absolute;
    z-index: 1100;

    cursor: pointer;
    width: 5rem;
    top: 10px;
    left: 0;
    
    border: 0;
    padding: 0.2rem;

    justify-content: flex-end;
    align-items: center;
    background: rgb(248, 248, 248);

    svg {
      color: var(--primary-color);
      width: 2.5rem;
      height: auto;
    }

    ::placeholder {
      outline: 0;
    }
  }
}
