.loginContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  overflow-y: scroll;

  width: 100vw;
  height: 100vh;

  background: conic-gradient(
    from 16.59deg at 85.48% 108.98%,
    #1a2a7d -127.54deg,
    #922337 209.96deg,
    #1a2a7d 232.46deg,
    #922337 569.96deg
  );

  .appBar {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70vw;
    height: 7rem;
    right: 0;
    margin-top: 40px;
    padding-left: 3rem;
    padding-right: 1rem;

    font-family: Big Shoulders Text;
    font-style: normal;
    font-weight: normal;
    font-size: calc(3vw + 1rem);

    color: var(--primary-color);

    background: white;
    border-radius: 30px 0px 0px 30px;

    svg {
      width: 4rem;
      height: auto;

      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    }
  }

  .pageControl {
    position: absolute;
    display: flex;

    top: 2rem;
    left: 2rem;

    cursor: pointer;
    button {
      background: transparent;
      outline: 0;
      border: 0;

      svg {
        background: white;
        color: #922337;
        font-size: 3rem;
        border-radius: 30px;
        padding: 10px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .authContainer {
    width: 68vw;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1280px) {
      height: 100vw;
      margin-top: 35rem;
      margin-bottom: 50rem;
    }
  }

  .randomLoginImage {
    display: flex;
    width: 90vw;
    height: auto;
    
    margin-top: -25rem;
    padding: 0;
    border: 0;

    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }
}
