@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;500;600&display=swap");

:root {
  --primary-color: #022e40;
}

@media (max-width: 1920px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1368px) {
  html {
    font-size: 89%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  body {
    color: #fff;
    background: #ffffff;
    background-attachment: fixed;
  }
  body,
  input,
  button,
  textarea {
    font: 600 18px Roboto, sans-serif;
  }
  -webkit-font-smoothing: antialiased;
}
