@import "react-pro-sidebar/dist/css/styles.css";

.Aside {
  position: absolute;
  .pro-sidebar {
    height: 100vh;
    min-width: 4em;
    .collapsed {
      width: 40px;
      min-width: 40px;
    }
    .pro-sidebar-inner {
      background: linear-gradient(180deg, #012840 59.36%, #5a002e 100%);
      box-shadow: 0.5px 0.866px 2px 0px rgb(240, 240, 240);
    }
    .pro-inner-item {
      display: flex;
      flex-direction: row;

      width: 300px;
      height: 80px;
      .pro-icon-wrapper {
        border-radius: 3px;
        .pro-item-content {
          color: #000;
        }
      }
    }
    .pro-sidebar-layout {
      overflow-y: hidden;
      height: 100%;
    }

    .pro-sidebar-header {
      .pro-inner-item {
        background-color: #ffffff;
        border-radius: 50%;
        height: 4em;
        width: 4em;
        margin-left: 0.6em !important;
        .pro-icon-wrapper {
          margin-left: -0.53em !important;
        }
      }

      .SepMenu {
        height: 11px;
        width: 100%;
        margin-top: 15px;
        background-color: #c4c4c4;
      }
    }

    .pro-sidebar-header,
    .pro-sidebar-content,
    .pro-sidebar-footer {
      .pro-menu-item {
        .pro-inner-item {
          .pro-icon-wrapper {
            .pro-icon {
              font-size: 10rem;
            }
          }
        }
      }
    }
  }
}
