::placeholder {
  color: #022e40;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #022e40;
}

::-ms-input-placeholder {
  color: #022e40;
}

*:focus {
  outline: 0 !important;
}

.SearchBar {
  width: 100%;

  display: flex;
  flex-direction: row;

  .SearchContainer {
    input,
    input:hover {
      display: block;
      width: calc(100vw - 48em);

      padding: 1.15em;
      border-color: transparent;
      background-color: transparent;
      border: transparent;
      text-align: end;
      text-indent: 2em;
      color: #022e40;
    }
    height: 4em;

    background: rgba(248, 248, 248, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px 0px 50px;
    color: #022e40;
  }

  .ButtonSearch {
    border-color: transparent;
    background-color: transparent;
    border: transparent;
    margin-top: 0em;
    height: 3.55em;
    #icon {
      margin-left: -0.6em;
      padding-left: 0.7em;
    }
    width: 4em;
    background-color: rgba(248, 248, 248, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
  }
}
