@import "leaflet/dist/leaflet.css";

#page-map {
  display: block;
  .header-bars {
    display: flex;
    justify-content: flex-end;

    margin-left: 1em !important;
  }
  .Map {
    .MapContainer {
      width: 100%;
      height: 100%;
      position: absolute !important;
    }
  }
}
