.authProvidersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 4rem;
  padding: 0 1rem 0 1rem;
  
  @media (max-width: 950px) {
    flex-direction: column;
  }
  
  .separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    .barSepacer {
      height: 2px;
      width: 4rem;
      background: rgba(255, 255, 255, 0.6);
    }
  }
}
