.credentialsProvider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .newUser {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    background: white;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    outline: 0;
    border: 0;
    
    opacity: 0.7;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }

    svg {
      height: 1.5rem;
      width: auto;
    }
  }

  .credentialsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    width: 28rem;
    min-width: 25rem;

    border-radius: 30px;
    background: rgba(255, 255, 255, 0.048);

    .entries {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 2rem;
      width: 90%;

      label,
      input {
        display: block;
        width: 100%;
      }

      label {
        text-align: left;
        input {
          margin-top: 1rem;
          border-radius: 30px;
          height: 3rem;

          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

          text-align: end;
          padding-right: 10px;
          padding-left: 10px;

          &:focus {
            background: rgb(230, 247, 255);
            outline: 0 !important;
          }
        }
      }
    }

    .preSubmit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      gap: 2rem;
      width: 90%;
      margin-top: 2rem;

      .showPassword {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;
        font-weight: 500;
        font-size: 1rem;
        label {
          text-align: left;
          input {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      .forgotPassword {
        a {
          outline: none;
          color: white;
          font-weight: 500;
          font-size: 0.9rem;
          text-align: center;
          background: transparent;
          cursor: pointer;
        }
      }
    }

    .submit {
      cursor: pointer;

      margin-top: 2rem;

      width: 100%;
      height: 3rem;

      border: 0;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.12);
      transition: opacity 0.3s, background 0.3s;
      &:hover {
        background: rgba(255, 255, 255, 0.24);
        svg {
          opacity: 1;
        }
      }

      svg {
        height: 2rem;
        width: 2rem;

        color: white;
        opacity: 0.5;
      }

      input {
        outline: rgb(192, 10, 55);
      }
    }
  }
}
