.providerButton {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  
  min-width: 22rem;
  width: 25rem;
  height: 3rem;

  border-radius: 20px;
  background: #ffffffdf;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border: 0;
  outline: 0;

  text-align: left;

  transition: background 0.3s;

  &:hover {
    background: rgb(167, 204, 219);
  }

  svg {
    position: absolute;
    height: 1.8rem;
    width: auto;

    right: 1.5rem;
  }
}
